<h1><%= @skill.name %></h1>

  <div class= 'well'>
    <p><b>Description:</b> <%= @skill.description %></p>
  </div>

<h2>Projects</h2>

<div class="well">
  <% if @skill.projects.any? %>
    <ul>
      <% @skill.projects.each do |project| %>
        <li><%= link_to project.name, skill_project_path(@skill, project) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no projects.</p>
  <% end %>

</div>
  <br>

<%= link_to 'Add a Project', new_skill_project_path(@skill) %> |
<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Delete', skill_path(@skill), data: { confirm: "Are you sure?", method: "delete"} %>
