<h1><%= @project.name %></h1>

<h4>Description: <%= @project.description %></h4>
<h4>Link: <%= @project.link %></h4>

<%= link_to 'Edit', edit_skill_project_path(@skill, @project) %> |
<%= link_to 'Delete', skill_project_path(@skill, @project), data: { confirm: "Are you sure?", method: "delete"} %> |
<%= link_to 'Back to Skill Page', skill_path(@skill) %>
