<div class="well">
  <%= render "layouts/errors", :object => @post %>
  <%= form_for [@post] do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control' %><br />
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, :class => 'form-control', :rows => "8" %><br />
    </div>
    <%= f.submit "submit", :id => 'submit-post' %>
  <% end %>
</div>
