<div class="well">
  <h4><%= @post.created_at.to_formatted_s(:long) %></h4>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path(@post), data: { confirm: "Are you sure?", method: "delete"} %>
